:root {
  /* ### Primary */

  --color-soft-red: hsl(7, 99%, 70%);
  --soft-red-hue: 7;
  --soft-red-sat: 99%;
  --soft-red-light: 70%;

  --color-yellow: hsl(51, 100%, 49%);
  --yellow-hue: 51;
  --yellow-sat: 100%;
  --yellow-light: 49%;

  --color-dark-desaturated-cyan-graphic-design-text: hsl(167, 40%, 24%);
  --dark-desaturated-cyan-graphic-design-text-hue: 167;
  --dark-desaturated-cyan-graphic-design-text-sat: 40%;
  --dark-desaturated-cyan-graphic-design-text-light: 24%;

  --color-dark-blue-photography-text: hsl(198, 62%, 26%);
  --dark-blue-photography-text-hue: 198;
  --dark-blue-photography-text-sat: 62%;
  --dark-blue-photography-text-light: 26%;

  --color-dark-moderate-cyan-footer: hsl(168, 34%, 41%);
  --dark-moderate-cyan-footer-hue: 168;
  --dark-moderate-cyan-footer-sat: 34%;
  --dark-moderate-cyan-footer-light: 41%;

  /* ### Neutral */

  --color-very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-desaturated-blue-hue: 212;
  --very-dark-desaturated-blue-sat: 27%;
  --very-dark-desaturated-blue-light: 19%;

  --color-very-dark-grayish-blue: hsl(213, 9%, 39%);
  --very-dark-grayish-blue-hue: 213;
  --very-dark-grayish-blue-sat: 9%;
  --very-dark-grayish-blue-light: 39%;

  --color-dark-grayish-blue: hsl(232, 10%, 55%);
  --dark-grayish-blue-hue: 232;
  --dark-grayish-blue-sat: 10%;
  --dark-grayish-blue-light: 55%;

  --color-grayish-blue: hsl(210, 4%, 67%);
  --grayish-blue-hue: 210;
  --grayish-blue-sat: 4%;
  --grayish-blue-light: 67%;

  --color-white: hsl(0, 0%, 100%);
  --white-hue: 0;
  --white-sat: 0%;
  --white-light: 100%;

  font-size: 18px;

  --fontSize: 18px;

  --fontSize-x8-small: calc(var(--fontSize) * 0.8);
  --fontSize-x7-small: calc(var(--fontSize) * 0.7);

  --fontSize-x6-small: calc(var(--fontSize) * 0.6);
  --fontSize-x5-small: calc(var(--fontSize) * 0.5);
  --fontSize-x4-small: calc(var(--fontSize) * 0.4);

  --fontSize-medium: var(--fontSize);

  --fontSize-x2-large: calc(var(--fontSize) * 1.2);
  --fontSize-x3-large: calc(var(--fontSize) * 1.3);
  --fontSize-x4-large: calc(var(--fontSize) * 1.4);
  --fontSize-x5-large: calc(var(--fontSize) * 1.5);
  --fontSize-x6-large: calc(var(--fontSize) * 1.6);
  --fontSize-x7-large: calc(var(--fontSize) * 1.7);
  --fontSize-x8-large: calc(var(--fontSize) * 1.8);
  --fontSize-x9-large: calc(var(--fontSize) * 1.9);
  --fontSize-x20-large: calc(var(--fontSize) * 2);
  --fontSize-x25-large: calc(var(--fontSize) * 2.5);
  --fontSize-x30-large: calc(var(--fontSize) * 3);
  --fontSize-x35-large: calc(var(--fontSize) * 3.5);
  --fontSize-x40-large: calc(var(--fontSize) * 4);
  --fontSize-x45-large: calc(var(--fontSize) * 4.5);
  --fontSize-x50-large: calc(var(--fontSize) * 5);

  --ff-Barlow: "Barlow", sans-serif;
  --ff-Fraunces: "Fraunces", serif;

  --fontWeight-Barlow-600: 600;

  --fontWeight-Fraunces-700: 700;
  --fontWeight-Fraunces-900: 900;
}

* {
  font-size: var(--fontSize);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(25, 25, 25, 0.25);
  display: flex;
  justify-content: center;
  font-family: var(--ff-Barlow);
}

.wrapper {
  background-color: var(--color-white);
  max-width: 1440px;
  flex: 1;
}

header {
  height: 80vh;
  background-image: url(./images/desktop/image-header.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 22%;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2rem;
  font-family: var(--ff-Barlow);
  font-weight: var(--fontWeight-Barlow-600);
}

ol {
  display: flex;
  align-items: center;
  list-style-type: none;
}

ol li + li {
  margin-left: 2rem;
}

ol li {
  cursor: pointer;
}

.menu {
  color: var(--color-white);
}

.mobile-menu {
  display: none;
}

.contact {
  color: var(--color-very-dark-desaturated-blue);
  background-color: var(--color-white);
  border-radius: 50px;
  padding: 0.5rem 1.5rem;
  text-transform: uppercase;
  font-family: var(--ff-Fraunces);
  font-weight: var(--fontWeight-Fraunces-700);
}

.contact:hover {
  color: var(--color-white);
  background-color: hsl(
    var(--white-hue),
    var(--white-sat),
    var(--white-light),
    0.25
  );
}

h1 {
  font-family: var(--ff-Fraunces);
  font-weight: var(--fontWeight-Fraunces-900);
  font-size: var(--fontSize-x40-large);
  color: var(--color-white);
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

/* /////////////////////////////////////////////////////////////// */
/* Main /////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////// */

.info-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "transform transform-image"
    "stand-out-image stand-out"
    "graphic-design photography";
}

.transform {
  grid-area: transform;
}

.transform-image {
  grid-area: transform-image;
}

.stand-out-image {
  grid-area: stand-out-image;
}

.stand-out {
  grid-area: stand-out;
}

.graphic-design {
  grid-area: graphic-design;
}

.photography {
  grid-area: photography;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 25% 10%;
  font-family: var(--ff-Fraunces);
}

.text-container h2 {
  font-size: var(--fontSize-x25-large);
  font-weight: var(--fontWeight-Fraunces-900);
  color: var(--color-very-dark-desaturated-blue);
  max-width: 15ch;
}

.text-container p {
  font-size: var(--ff-Barlow);
  font-weight: var(--fontWeight-Barlow-600);
  color: var(--color-dark-grayish-blue);
  max-width: 42ch;
}

.text-container button {
  width: fit-content;
  border: none;
  padding: 0.25rem;
  border-radius: 4px;
  font-family: var(--ff-Fraunces);
  font-weight: var(--fontWeight-Fraunces-900);
  letter-spacing: 1.5px;
  text-transform: uppercase;
  background: linear-gradient(
    to bottom,
    var(--color-white) 0%,
    var(--color-yellow) 500%
  );
  transition: all 250ms ease-in-out;
}

.text-container button:hover {
  background: linear-gradient(
    to bottom,
    var(--color-white) 0%,
    var(--color-soft-red) 100%
  );
  cursor: pointer;
}

.graphic-design,
.photography {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
}

.graphic-design h2,
.graphic-design p {
  color: var(--color-dark-desaturated-cyan-graphic-design-text);
}

.photography h2,
.photography p {
  color: var(--color-dark-blue-photography-text);
}

.graphic-design h2,
.photography h2 {
  max-width: 38ch;
  font-size: var(--fontSize-x5-large);
  margin-bottom: 1rem;
  font-family: var(--ff-Fraunces);
  font-weight: var(--fontWeight-Fraunces-900);
}

.graphic-design p,
.photography p {
  font-weight: var(--fontWeight-Barlow-600);
  max-width: 38ch;
  line-height: 1.5;
}

.graphic-design,
.photography {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 2rem;
}

.graphic-design {
  background-image: url("./images/desktop/image-graphic-design.jpg");
}

.photography {
  background-image: url("./images/desktop/image-photography.jpg");
}

.image-container img {
  height: 100%;
  width: 100%;
}

/* /////////////////////////////////////////////////////////////// */
/* Testimonials /////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////// */

.client {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 4rem 6rem;
}

.client h2 {
  font-family: var(--ff-Fraunces);
  font-weight: var(--fontWeight-Fraunces-700);
  color: var(--color-grayish-blue);
  font-size: var(--fontSize-x2-large);
  margin-bottom: 4rem;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.testimonial {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 1rem;
}

.testimonial-img {
  border-radius: 50%;
  overflow: hidden;
  height: 75px;
  width: 75px;
}

.testimonial-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.testimonial p {
  color: var(--color-very-dark-grayish-blue);
  font-weight: var(--fontWeight-Barlow-600);
  margin: 2.5rem 0;
  max-width: 34ch;
  line-height: 1.5;
}

.testimonial h3 {
  font-family: var(--ff-Fraunces);
  font-weight: var(--fontWeight-Fraunces-900);
  margin-bottom: 0.5rem;
}

.testimonial h4 {
  color: var(--color-grayish-blue);
  font-weight: var(--fontWeight-Barlow-600);
}

/* /////////////////////////////////////////////////////////////// */
/* Bottom Images /////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////// */

.img-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "milkbottles orange cone sugarcubes";
}

.milkbottles {
  grid-area: milkbottles;
}

.orange {
  grid-area: orange;
}

.cone {
  grid-area: cone;
}

.sugaracubes {
  grid-area: sugarcubes;
}

.bottom-img img {
  height: 100%;
  width: 100%;
}

/* /////////////////////////////////////////////////////////////// */
/* Footer /////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////// */

footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--color-very-dark-grayish-blue);
  padding: 2rem;
  color: var(--color-dark-desaturated-cyan-graphic-design-text);
  --dark-moderate-cyan-footer-light: 50%;
  background-color: hsl(
    var(--dark-moderate-cyan-footer-hue),
    var(--dark-moderate-cyan-footer-sat),
    var(--dark-moderate-cyan-footer-light),
    0.75
  );
}

.footer-logo img {
  filter: invert(27%) sepia(28%) saturate(721%) hue-rotate(116deg)
    brightness(50%) contrast(91%);
}

.footer-menu {
  margin: 2rem 0 4rem 0;
  font-weight: var(--fontWeight-Barlow-600);
  color: hsl(
    var(--dark-desaturated-cyan-graphic-design-text-hue),
    var(--dark-desaturated-cyan-graphic-design-text-sat),
    var(--dark-desaturated-cyan-graphic-design-text-light),
    0.75
  );
}

.footer-menu li {
  transition: all 250ms ease-in-out;
}
.footer-menu li:hover {
  color: var(--color-white);
}

.social-media {
  margin-bottom: 1rem;
}

.social-media i {
  font-size: var(--fontSize-x2-large);
  transition: all 250ms ease-in-out;
}

.social-media i:hover {
  color: var(--color-white);
}

.attribution {
  position: absolute;
  bottom: 0;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* ///////////////////////////////////////////////////////////////////////////////// */
/* Media Queries ///////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////// */

@media (max-width: 1000px) {
  h1 {
    text-align: center;
  }
}

@media (max-width: 900px) {
  .client {
    padding: 4rem 2rem;
  }
}

@media (max-width: 715px) {
  .menu {
    display: none;
    background-color: var(--color-white);
    flex-direction: column;
    color: var(--color-grayish-blue);
    position: absolute;
    padding-top: 15%;
    top: 15%;
    left: 10%;
    right: 10%;
    clip-path: polygon(0% 10%, 0% 100%, 100% 100%, 100% 0%, 90% 10%);
  }

  .menu li {
    margin: 1rem 0;
  }
  .menu li + li {
    margin-left: 0;
  }

  .contact {
    background-color: var(--color-yellow);
  }

  header {
    min-height: 800px;
    padding-bottom: 30%;
    background-image: url(./images/mobile/image-header.jpg);
  }

  .mobile-menu {
    display: flex;
    font-size: var(--fontSize-x20-large);
    color: white;
  }

  .info-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "transform-image"
      "transform"
      "stand-out-image"
      "stand-out"
      "graphic-design"
      "photography";
  }

  .testimonials {
    flex-direction: column;
  }

  .testimonial-img {
    margin-top: 2rem;
  }

  .img-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "milkbottles orange"
      "cone sugarcubes";
  }
}

@media (max-width: 550px) {
  h1 {
    font-size: var(--fontSize-x20-large);
  }
}
